<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form th:action="@{/signup}" th:object="${userReqDTO}" method="post">
        <input type="Text" name="name" th:field="*{Name}">
        <input type="Text" name="emailid" th:field="*{emailid}">
        <input type="Text" name="password" th:field="*{password}">
        <input type="number" name="phoneno" th:field="*{phoneNo}">
        <input type="submit" name="submit"/>
</form>

</body>
</html>